// Import page-specific CSS files here.
@import "home";



.all-props{
  display: flex;
  flex-wrap: wrap;
}

.prop-container {
  margin: 20px;
  font-family: 'Courier New';
  display: flex;
  border: 1px solid;
  color:black;
  border-radius: 0;
  grid-template-columns: 60px 60px;
}

div{
  box-shadow:2px ;
  box-sizing:content-box ;
  border: 1px solid blue;
  border-right:2px dotted black;
  border-bottom: 2px dashed green($color: #000000);
  border-left: 2px dotted black;
  display: grid;
  align-items:start ;
}
