.all-props{
  display: flex;
  flex-wrap: wrap;
}

.prop-card {
  box-sizing: content-box;
  box-shadow: 10px 10px 15px;
  margin: 20px;
  font-family: 'Courier New';
  display: flex;
  border: 1px solid;
  color:black;
  border-radius: 0;
  height: 200px;
}

.props-container{
  box-sizing:content-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items:start;
  row-gap: 40px;
}
