// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";


// Your CSS partials
@import "components/index";
@import "pages/index";
@import "props/index";



/* Custom styles */

body {
  background-color: linear-gradient(to left, #a1a1a1, #2e2d2d);
}


.gradient {
  background: #e52d43;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e52d43, #93291E);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e52d43, #93291E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.fixed-size {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.hello-text {
  color: black;
  font-size: 1rem;
  font-weight: 300;
}


.index-card-body {
  box-shadow: 1px 1px 15px red($color: #000000);
  padding: 10px;
  background-color: $darkest;
  float: inline-start;
}

.booking-card {
  padding: 10px;
  // background-color: $darkest;
}

.stretched-link {
  position: relative;
  z-index: 1;
}

.stretched-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.carousel-control {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $middle;
    border: none;
}

.carousel-control:hover,
.carousel-control:focus {
  background-color: $darkest;
  border-color: $darkest;
}

p {
  color: black
}

a {
  color: $middle;
  font-weight: 800;
}

.booking-card{
  height: 200px;
  padding: 2px;
  border-radius: 10px;
  border-style: outset;
  box-shadow: 10px 10px 30px rgba(88, 88, 88, 0.1);
  text-align: left;
  -ms-text-size-adjust: 100%;
  font-size:1.5rem;
}
.title {
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
}
