// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "props/index";



/* Custom styles */

b {
  background-color: rgba(253, 240, 240, 0.863);
}

.gradient {
  background: #ED213A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fixed-size {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.hello-text {
  color: black;
  font-size: 1rem;
  font-weight: 300;
}


.card-body {
  padding: 10px;
  // background-color: $darkest;
}

.stretched-link {
  position: relative;
  z-index: 1;
}

.stretched-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.carousel-control {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $middle;
    border: none;
}

.carousel-control:hover,
.carousel-control:focus {
  background-color: $darkest;
  border-color: $darkest;
}
p {
  color: rgba(253, 240, 240, 0.863);
}

a {
  color: $middle;
  font-weight: 800;
}
